p{
border: 5px dashed maroon;
}
.style1{
border: none;
background-color: yellow;
}
#mi{
border: 2px solid black;
}
#none{
border: none;
}
.box{
height: 400px;
width: 650px;
background-color: #d56f49;
}